.DS_Store
node_modules
/dist 
mars2d-*src.*
!mars2d-widget-src.*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
 
# System Files
.DS_Store
Thumbs.db 