/*
* index页面css
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  background: #000;
  -webkit-overflow-scrolling: touch;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #62a8ea;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #89bceb;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline: none;
  outline-offset: -2px;
}

ul,
li {
  list-style: none;
}

.marsgis-editor__container .layout-right .layout-right__header {
  background-color: #54a1ff;
}
.marsgis-editor__container .mars-dropdown .mars-dropdown-content{
  background-color: #54a1ff;
}
.marsgis-editor__container .mars-dropdown .mars-dropdown-item:hover {
    background-color: rgb(57, 95, 155);
}
.marsgis-editor__container .mars-link-btn-primary {
  color: #dce2e7;
}
.marsgis-editor__container .mars-link-btn-primary:hover{
  color: #ffffff;
}
