/*
* index页面css
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  background: #000;
  -webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
#centerDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  border: none;
  overflow: hidden;
  position: relative;
}

/**infoview浮动面板*/
.infoview {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  color: #000;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  z-index: 19870101;
}
/* .infoview-right {
  left: auto;
  right: 10px;
} */

.infoview > div {
  margin-top: 5px;
}

.info-tips {
  margin: 5px 10px 20px 10px;
}

/*弹出层皮肤*/
.layui-layer-title {
  background-color: #1e9fff !important;
  color: #fff !important;
}


/*解决问题：https://github.com/Leaflet/Leaflet/issues/3575**/
.leaflet-tile-container img {
  width: 257px !important;
  height: 257px !important;
}
